<div class="w-full py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <!-- Left Logo -->
    <img src="/images/logo.png" alt="Logo" class="h-16 lg:h-20 w-auto object-contain">

    <!-- Center Navbar -->
  <nav class="flex-1 mx-8 border border-gray-200 rounded-full px-8 py-4 shadow-sm">
    <nav class="flex-1 mx-8">
    <ul class="flex items-center justify-center gap-4 text-sm font-semibold">

    <li class="bg-white text-gray-800 px-5 py-2 rounded-full shadow-md hover:shadow-lg hover:-translate-y-0.5 transition-all duration-300 cursor-pointer">
        All Categories
    </li>

    <li class="bg-white text-gray-800 px-5 py-2 rounded-full shadow-md hover:shadow-lg hover:-translate-y-0.5 transition-all duration-300 cursor-pointer">
        Mobile Phones
    </li>

    <li class="bg-white text-gray-800 px-5 py-2 rounded-full shadow-md hover:shadow-lg hover:-translate-y-0.5 transition-all duration-300 cursor-pointer">
        Laptop & PC
    </li>

    <li class="bg-white text-gray-800 px-5 py-2 rounded-full shadow-md hover:shadow-lg hover:-translate-y-0.5 transition-all duration-300 cursor-pointer">
        Cameras
    </li>

    <li class="bg-white text-gray-800 px-5 py-2 rounded-full shadow-md hover:shadow-lg hover:-translate-y-0.5 transition-all duration-300 cursor-pointer">
        Accessories
    </li>

</ul>
</nav>
</nav>

    <!-- Right Logos -->
    <div class="flex items-center gap-4">
      <img src="/images/logo2.png" alt="" class="h-14 lg:h-16 w-auto object-contain">
      <img src="/images/logo3.png" alt="" class="h-14 lg:h-16 w-auto object-contain">
    </div>
  </div>
</div>